@import "common-web-styles/common";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  user-select: none;
  height: 100%;
}

#repo-link {
  text-align: left;
  margin-top: 2vh;
}

#menu {
  position: sticky;
  top: 10px;
  background-color: var(--background-color);
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--interactive-border-color);
  border-radius: 10px;
}

#spinner-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;

  #spinner {
    width: 48px;
    height: 48px;
    border: 5px solid var(--text-color);
    border-bottom-color: transparent;

    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-bottom: 3px;

  vertical-align: middle;
}

#images {
  padding: 10px;

  .generated_image {
    max-height: 100%;
    max-width: 100%;
  }
}
